*~
.*~
verilog
exe_*
log*
Verilator_Make
*.csv
*.lock.hjson
build_*
C_for_bsim
Elf_to_Memhex32.exe
README.html
Doc/Build_and_Run_Guide.html
Code/vendor/bsc-contrib_Misc
Code/vendor/EDB
traces
*.o
*.pdf
*.aux
*.bbl
*.*dx
*.*lg
*.*nd
*.log
*.out
*.toc
*.lof
*.lot
tmp*
Book/Code_Extracts/*.tex
